@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ColorPagePurple: #5328fe;
  --ColorPageGreen: #2be6ab;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  height: max-content;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a,button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="text"],input[type="password"] {
  all: unset;
}
