@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ColorPagePurple: #5328fe;
  --ColorPageGreen: #2be6ab;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  height: max-content;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  color: inherit;
  background-color: initial;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  font-size: initial;
  cursor: pointer;
  font-family: inherit;
}

input[type="text"],input[type="password"] {
  color: inherit;
  background-color: initial;
  border-style: initial;
  border-color: initial;
  font-family: inherit;
  font-size: initial;
  border-width: initial;
}

input[type="text"]:focus-visible,input[type="password"]:focus-visible {
  outline: initial;
}
